.layout {
  width: 100%;
  height: 100vh;
  padding: 16px;
  display: flex;
  flex-direction: row;
  background-color: rgba(245, 245, 246, 1);
}

.sidebarContainer {
  width: 240px;
  height: 744px;
  display: flex;
  padding: 16px;
  border-radius: 16px;
}
.sidebar {
  width: 208px;
  height: 712px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: fixed;
}
.sidebar .active {
  background: rgba(227, 255, 223, 1);
  box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.1);
  font-weight: 600;
}
.reparvLogo {
  width: 208px;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navlink {
  width: 208px;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  padding: 12px;
  gap: 12px;
  text-decoration: none;
  font-weight: 400;
  transition: all 0.3s;
}
.navlink .icon {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  border-radius: 12px;
  opacity: 0px;
  background-color: rgba(255, 255, 255, 1);
}
.navlink .text {
  width: 132px;
  height: 24px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: left;
  font-size: 16px;
  line-height: 24px;
  text-align: left;
  color:rgba(0, 0, 0, 1);
}
