@media (min-width: 1350px) {
  /* Styles for screens 1350px and below */
  .partnervideo {
    top: 40%;
  }
}
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.no-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}
