@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-family:'Inter', sans-serif;
  font-family:'Poppins', sans-serif;
}

.react-calendar__tile--now {
  border: 2px solid green !important;
  border-radius: 100%;
  background: transparent !important;
  font-weight: bold !important;
}

.react-calendar__tile {
  width: 45px !important; 
  height: 45px !important;
  border-radius: 50%;
  color: black !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


/* Fix CKEditor bullet list visibility across Windows & macOS */
.blog-content.ck-content ul,
.blog-content.ck-content ol {
  list-style-position: outside !important;
  margin-left: 1rem !important;
  padding-left: 1rem !important;
}

.blog-content.ck-content li {
  list-style-type: disc !important;
  display: list-item !important;
  margin-bottom: 0.4rem;
}

/* Optional - improve spacing and readability */
.blog-content.ck-content p {
  margin-bottom: 0.75rem;
  line-height: 1;
}

